<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="admin/css/panel.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="..">Admin Panel</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/admin/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" onclick="app.openOrder()">
                            <i class="fa fa-truck icon_p"></i>
                            Заказы
                        </a>
                    </li>
                    <!-- template -->
                    <li class="nav-item">
                        <a class="nav-link" onclick="app.openUsers()">
                            <i class="fas fa-address-card icon_p"></i>
                            Пользователи
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick="app.openProducts()">
                            <i class="fas fa-address-card icon_p"></i>
                            Товары
                        </a>
                    </li>
                </ul>

            </div>
        </nav>

        <main id="app" role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        </main>
    </div>
</div>


<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

<script src="admin/js/app.js"></script>
<script>


    function createEl(name, className, content = null) {
        let el = document.createElement(name);
        el.className = className;

        if (content !== null)
            el.innerHTML = content;

        return el;
    }

    class Component
    {
        content;

        constructor() {
            this.content = createEl('div');
            this.hide();
        }

        getContent() {
            return this.content;
        }

        showContent() {
            this.content.style.display = 'block';
        }

        hide() {
            this.content.style.display = 'none';
        }

    }


    /* --- ORDERS BLOCK --- */

    class Orders extends Component
    {
        constructor(orders) {
            super();
            this.content.innerHTML = "orders";
        }
    }

    /* --- USERS BLOCK --- */

    class Users extends Component
    {
        constructor() {
            super();
            this.content.innerHTML = "users";
        }
    }

    /* --- PRODUCTS BLOCK --- */

    class Products extends Component
    {
        productsBlock;
        products;
        productCards = [];
        addBtn;

        createNewProduct() {
            this.addBtn.disabled = true;

            let productObject = {
                product: {
                    name: 'Новый товар',
                    amount: 0,
                    price: 0,
                }
            };

            fetch('/admin/product', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    name: 'Новый товар',
                    amount: 0,
                    price: 0,
                }),
            }).then(response => response.json()).then(data => {
                debugger;
                if(data.code === 'OK') {
                    location.reload();
                }
                else {
                    console.log('Сервер: - Что за какашку ты мне подсунул? Переделывай :)');
                }
            })
        }

        constructor(pList = []) {
            super();
            this.products = pList;
            this.productsBlock = createEl('div');

            this.addBtn = createEl('button', 'product-card-img-edit-button btn btn-primary', 'Создать новый товар');
            this.addBtn.addEventListener('click', this.createNewProduct.bind(this), false);
            this.addBtn.id = 'add-new-product-btn';

            this.content.appendChild(this.productsBlock);
            this.content.appendChild(this.addBtn);

            pList.forEach(product => {
                this.addProduct(product);
            });
        }

        addProduct(product) {
            let productCard = new ProductCard(product);
            this.products.push(product);
            this.productsBlock.appendChild(productCard.getCard());
            this.productCards.push(productCard)
        }
    }


    class ProductCard {

        product;
        card;
        errorBlock;
        successBlock;

        constructor(product) {
            this.product = product;
            this.card = createEl('div', 'product-card');
            this.card.id = 'product-card-' + this.product.id;

            let photoBlock = this.createPhotoBlock(this.product.id, this.product.img);
            let infoBlock = this.createIBlock(product);

            this.card.appendChild(photoBlock);
            this.card.appendChild(infoBlock);
        }

        getCard() {
            return this.card;
        }

        createPhotoBlock(productId, photoSrc) {
            let photoBlock = createEl('div', 'product-card-img-edit');

            let imgBlock = createEl('img', 'product-card-img');
            imgBlock.src = photoSrc;
            imgBlock.id = 'product-card-' + productId + '-img';

            let fileInput = createEl('input');
            fileInput.type = 'file';
            fileInput.id = 'product-card-img-input-' + productId;


            let button = createEl('button', 'product-card-img-edit-button btn btn-primary btn-sm', 'Загрузить фото');
            button.id = 'product-card-' + productId + '-img-button';
            button.dataset.productId = productId;
            button.dataset.action = 'product-img-upload';

            photoBlock.appendChild(imgBlock);
            photoBlock.appendChild(fileInput);
            photoBlock.appendChild(button);

            return photoBlock;
        }

        createIBlock(product) {
            let infoBlock = createEl('div', 'product-card-info');
            infoBlock.appendChild(this.createInfoInput('Название', product.name, 'name-' + product.id));
            infoBlock.appendChild(this.createInfoInput('Цена', product.price, 'price-' + product.id));
            infoBlock.appendChild(this.createInfoInput('Количество', product.amount, 'amount-' + product.id));

            let saveButton = createEl('button', 'product-card-img-edit-button btn btn-success btn-sm', 'Сохранить');
            saveButton.id = `product-submit-${product.id}`;
            saveButton.dataset.productId = product.id;
            saveButton.addEventListener('click', this.saveProductAction.bind(this), false);

            let deleteButton = createEl('button', 'product-card-img-edit-button btn btn-danger btn-sm product-card-buttons-delete', 'Удалить');
            deleteButton.id = `product-delete-${product.id}`;
            deleteButton.dataset.productId = product.id;
            deleteButton.addEventListener('click', this.deleteProductAction.bind(this), false);

            let buttonsBlock = createEl('div', "product-card-buttons-block");
            buttonsBlock.appendChild(saveButton);
            buttonsBlock.appendChild(deleteButton);


            infoBlock.appendChild(buttonsBlock);

            this.errorBlock = createEl('p', 'text-danger');
            this.errorBlock.style.marginTop = '10px';
            this.errorBlock.style.display = 'none';
            infoBlock.appendChild(this.errorBlock);

            this.successBlock = createEl('p', 'text-success');
            this.successBlock.style.marginTop = '10px';
            this.successBlock.style.display = 'none';
            infoBlock.appendChild(this.successBlock);

            return infoBlock;
        }

        showError(msg) {
            this.errorBlock.innerHTML = msg;
            this.successBlock.style.display = 'none';
            this.errorBlock.style.display = 'block';

        }

        showSuccess(msg) {
            this.successBlock.innerHTML = msg;
            this.errorBlock.style.display = 'none';
            this.successBlock.style.display = 'block';
        }

        deleteProductAction(event) {
            debugger;
            if (parseInt(this.product.id) === parseInt(event.path[0].dataset.productId))
            {
                this.deleteProduct();
            }
        }

        deleteProduct() {

            let productData = this.product;

            fetch('/admin/product', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(productData),
            }).then(response => response.json()).then(data => {
                if (data.code === 'OK') {
                    location.reload();
                }
                else {
                    this.showError(data.errorDescription);
                }
            })
        }

        saveProductAction(event) {
            let productId = event.path[0].dataset.productId;
            let productData = this.collectProduct(productId);

            fetch('/admin/product', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(productData),
            }).then(response => response.json()).then(data => {
                if (data.code === 'OK') {
                    this.showSuccess("Товар успешно сохранен!");
                }
                else {
                    this.showError(data.errorDescription);
                }
            })
        }

        collectProduct(productId) {
            return {
                name: this.card.querySelector(`#product-card-info-name-${productId}`).value,
                price: this.card.querySelector(`#product-card-info-price-${productId}`).value,
                amount: this.card.querySelector(`#product-card-info-amount-${productId}`).value,
                id: productId,
                img: this.product.img
            }
        }

        createInfoInput(name, value, inputId) {
            let input = createEl('div', 'input-group input-group-sm mb-3');

            let inputTitle = createEl('div', 'input-group-prepend', `<span class="input-group-text" id="">${name}</span>`);

            let inputField = createEl('input', 'form-control');
            inputField.type = 'text';
            inputField.value = value;
            inputField.id = 'product-card-info-' + inputId;

            input.appendChild(inputTitle);
            input.appendChild(inputField);
            return input;
        }
    }


    /* --- APPLICATION BLOCK --- */

    class AdminSPA
    {
        orders;
        users;
        products;

        contentBlock;

        constructor() {
            this.orders = new Orders();
            this.products = new Products();
            this.users = new Users();

            this.contentBlock = document.querySelector('#app');
            this.contentBlock.appendChild(this.orders.getContent());
            this.contentBlock.appendChild(this.products.getContent());
            this.contentBlock.appendChild(this.users.getContent());
            this.loadProducts();
        }

        loadProducts() {
            fetch('/products').then(response => response.json()).then(data => {
                if (data.product_list !== undefined) {
                    data.product_list.forEach(product => {
                        this.products.addProduct({
                            id: product.id,
                            img: product.image,
                            name: product.name,
                            price: product.price,
                            amount: product.amount
                        });
                    });
                }
            });
        }

        openUsers() {
            this.orders.hide();
            this.products.hide();
            this.users.showContent();
        }

        openOrder() {
            this.products.hide();
            this.users.hide();
            this.orders.showContent();
        }

        openProducts() {
            this.users.hide();
            this.orders.hide();
            this.products.showContent();
        }
    }


    let app = new AdminSPA();
    app.openProducts();
</script>
</body>
</html>