<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/catalog.css">
</head>
<body>
<div class="popup" style="display: none" id="popup">

    <div class="popup__menu">
        <button class="popup__exit" id="popupExit">x</button>
        <div class="ordermenu">
            <div class="ordermenu__list">
                <ul class="orderlist" id="orderList">
                    <li class="orderlist__product">
                        <img src="product-puc.jpeg" alt="" class="orderlist__product__img">
                        <div class="orderlist__product__info">
                            <p class="orderlist__product__info__title">Macbook pro</p>
                            <p class="orderlist__product__info__counter">Всего: 3</p>
                        </div>
                    </li>
                    <li class="orderlist__product">
                        <img src="product-puc.jpeg" alt="" class="orderlist__product__img">
                        <div class="orderlist__product__info">
                            <p class="orderlist__product__info__title">Macbook pro</p>
                            <p class="orderlist__product__info__counter">Всего: 3</p>
                        </div>
                    </li>
                    <li class="orderlist__product">
                        <img src="product-puc.jpeg" alt="" class="orderlist__product__img">
                        <div class="orderlist__product__info">
                            <p class="orderlist__product__info__title">Macbook pro</p>
                            <p class="orderlist__product__info__counter">Всего: 3</p>
                        </div>
                    </li>
                    <li class="orderlist__product">
                        <img src="product-puc.jpeg" alt="" class="orderlist__product__img">
                        <div class="orderlist__product__info">
                            <p class="orderlist__product__info__title">Macbook pro</p>
                            <p class="orderlist__product__info__counter">Всего: 3</p>
                        </div>
                    </li>
                    <li class="orderlist__product">
                        <img src="product-puc.jpeg" alt="" class="orderlist__product__img">
                        <div class="orderlist__product__info">
                            <p class="orderlist__product__info__title">Macbook pro</p>
                            <p class="orderlist__product__info__counter">Всего: 3</p>
                        </div>
                    </li>
                </ul>
                <span class="ordermenu__summary" id="orderSummary">Всего: 231000 Руб.</span>
            </div>
            <div class="ordermenu__info">
                <input type="text" id="order-name" class="orderinput" placeholder="ФИО">
                <input type="text" id="order-email" class="orderinput" placeholder="E-Mail">
                <input type="text" id="order-phone" class="orderinput" placeholder="Номер телефона">
                <input type="text" id="order-address" class="orderinput" placeholder="Адрес доставки">
                <button class="buy-button" id="order-apply" style="margin-top: 20px">Оформить заказ</button>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="header__list">
        <h3 class="logo-text">Online Shop</h3>
        <div class="basket" id="basket"><span class="basket-cnt basket-cnt-empty">1</span></div>
    </div>
</header>
<div class="content" id="content">
</div>
<script>

    function createEl(name, className, content = null) {
        let el = document.createElement(name);
        el.className = className;

        if (content !== null)
            el.innerText = content;

        return el;
    }

    class Basket {
        count;
        basketBlock;
        basketItems;

        constructor() {
            this.count = 0;
            this.basketBlock = document.querySelector('#basket');
            this.basketItems = [];
        }

        hideCount() {
            this.basketBlock.childNodes[0].setAttribute('class', 'basket-cnt-empty');
        }

        showCount() {
            this.basketBlock.childNodes[0].setAttribute('class', 'basket-cnt');
        }

        getBasket() {
            return this.basketBlock;
        }

        getCount() {
            return this.count;
        }

        addCount() {
            this.count++;

            if (this.count > 0)
            {
                if (this.count === 1)
                {
                    this.showCount();
                }
                this.basketBlock.childNodes[0].textContent = this.count;
            }

        }

        minusCount() {
            this.count--;
            if (this.count <= 0) {
                this.count = 0;
                this.hideCount();
            }
            this.basketBlock.childNodes[0].textContent = this.count;
        }

        addProduct(id) {
            this.minusCount();
        }

        deleteProduct(id) {
            this.addCount();
        }

    }

    class Product {

        constructor(id, name, price, img) {
            this.id = id;
            this.name = name;
            this.price = price;
            this.img = img;
        }
    }

    class CardBasket {
        cardBlock;

        addButton;
        deleteButton;

        counterBlock;

        counter;
        productId;

        constructor(id, size = 0) {
            this.counter = parseInt(size);
            if (isNaN(this.counter))
            {
                this.counter = 0;
            }

            this.productId = id;

            this.cardBlock = createEl('div', 'card-basket');

            this.deleteButton = createEl('button', 'card-basket__btn', '-');
            this.deleteButton.dataset.productId = id;
            this.deleteButton.dataset.action = 'delete_product';

            this.addButton = createEl('button', 'card-basket__btn', '+');
            this.addButton.dataset.productId = id;
            this.addButton.dataset.action = 'add_product';

            this.counterBlock = createEl('span', 'card-basket__cnt', '0');

            this.cardBlock.appendChild(this.deleteButton);
            this.cardBlock.appendChild(this.counterBlock);
            this.cardBlock.appendChild(this.addButton);
        }


        hide() {
            this.cardBlock.style.display = 'none';
        }

        display() {
            this.cardBlock.style.display = 'flex';
        }

        getBasket() {
            return this.cardBlock;
        }

        setCounter(value) {
            this.counterBlock.innerText = parseInt(value);
            this.counter = parseInt(value);
        }

        counterAdd() {
            this.setCounter(this.counter+1);
        }

        counterDelete() {
            this.setCounter(this.counter-1);
        }

        getCounter() {
            return this.counter;
        }
    }

    class ProductCard {
        productId;
        productCardBlock;

        productCounter;

        basket;
        buyButtonBlock;


        constructor(product) {
            this.productId = product.id;

            this.productCardBlock = document.createElement('div');
            this.productCardBlock.className = 'product-card';

            this.productCardBlock = createEl('div', 'product-card');

            this.buyButtonBlock = createEl('button', 'buy-button card-button', 'Купить');
            this.buyButtonBlock.dataset.productId = product.id;
            this.buyButtonBlock.dataset.action = 'add_product';


            this.basket = new CardBasket(this.productId);
            this.basket.hide();

            this.productCounter = 0;

            let imgBlock = createEl('div', 'card-img');
            let img = createEl('img', 'card-img__img');
            img.src = product.img;
            imgBlock.appendChild(img);
            this.productCardBlock.appendChild(imgBlock);
            this.productCardBlock.appendChild(createEl('span', 'card-name', product.name));
            this.productCardBlock.appendChild(createEl('span', 'card-price', `${product.price} руб.`));
            this.productCardBlock.appendChild(this.basket.getBasket());
            this.productCardBlock.appendChild(this.buyButtonBlock);

        }

        addProduct() {
            this.basket.counterAdd();
            this.updateButton();
        }

        deleteProduct() {
            if (this.basket.getCounter() > 0) {
                this.basket.counterDelete();
            }
            this.updateButton();
        }

        updateButton() {
            if (this.basket.getCounter() <= 0) {
                this.productCounter = 0;
                this.setEmpty();
            }
            else {
                this.setSelect();
            }
        }

        setEmpty() {
            this.buyButtonBlock.style.display = 'block';
            this.basket.hide();
        }

        setSelect() {
            this.buyButtonBlock.style.display = 'none';
            this.basket.display();
        }

        getProductCard() {
            return this.productCardBlock;
        }

        getProductId() {
            return this.productId;
        }

        getBasketCounter() {
            return this.basket.getCounter();
        }
    }

    class ProductList {
        productList;

        productCards = [];

        constructor() {
            this.productList = document.createElement('div');
            this.productList.className = 'product-list';

            this.productList.addEventListener('click', this.productManageHandler.bind(this), false);
        }

        productManageHandler(buttonData) {
            let data = buttonData.path[0].dataset;
            if (data.action !== undefined)
            {
                this.makeAction(data.action, data);
            }
        }

        makeAction(action, params) {
            switch (action) {
                case 'add_product':
                    this.plusProduct(parseInt(params.productId));
                    break;
                case 'delete_product':
                    this.minusProduct(parseInt(params.productId));
                    break;
            }
        }

        plusProduct(productId) {
            this.productCards[productId].addProduct();
            let count = this.productCards[productId].getBasketCounter();
            app.setCount(productId, count);
        }

        minusProduct(productId) {
            this.productCards[productId].deleteProduct();
            let count = this.productCards[productId].getBasketCounter();
            app.setCount(productId, count);
        }

        getProductList() {
            return this.productList;
        }

        addProduct(productCard) {
            if (!this.productCards[productCard.getProductId()])
            {
                this.productList.appendChild(productCard.getProductCard());
            }
            this.productCards[productCard.getProductId()] = productCard;

        }
    }

    class Order {
        popup;
        popupExit;
        productList;
        orderSummary;

        orderFormApply;

        orderProductList;



        constructor() {
            this.popup = document.querySelector('#popup');

            this.popupExit = document.querySelector('#popupExit');
            this.popupExit.addEventListener('click', this.hideOrder.bind(this), false);
            this.productList = document.querySelector('#orderList');
            this.orderSummary = document.querySelector('#orderSummary');

            this.orderFormApply = document.querySelector('#order-apply');
            this.orderFormApply.addEventListener('click', this.applyForm.bind(this), false);
        }

        getUserData() {
            return {
                name: document.querySelector('#order-name').value,
                email: document.querySelector('#order-email').value,
                phone: document.querySelector('#order-phone').value,
                address: document.querySelector('#order-address').value,
            };
        }

        applyForm() {
            let userData = this.getUserData();
            console.log('form data: ', userData, this.orderProductList);
        }

        createOrderPosition(name, count, img) {
            let positionBlock = createEl('li', 'orderlist__product');

            let photo = createEl('img', 'orderlist__product__img');
            photo.src = img;

            let infoBlock = createEl('div', 'orderlist__product__info');
            infoBlock.appendChild(createEl('p', 'orderlist__product__info__title', name));
            infoBlock.appendChild(createEl('p', 'orderlist__product__info__counter', ('Всего: ' + count)));

            positionBlock.appendChild(photo);
            positionBlock.appendChild(infoBlock);
            return positionBlock;
        }

        hideOrder() {
            this.popup.style.display = 'none';
        }

        showOrder() {
            this.popup.style.display = 'block';
        }

        startOrder(products = []) {
            //debugger;
            this.orderProductList = products;
            this.productList.innerHTML = '';
            let summary = 0;
            products.forEach(product => {
                this.productList.appendChild(this.createOrderPosition(product.name, product.count, product.img));
                summary += product.count * product.price;
            });

            this.orderSummary.innerHTML = "Всего: " + summary + " руб.";
            this.showOrder();
        }
    }

    class App {
        productList;
        basket;
        order;

        allProducts;

        constructor() {
            this.productList = new ProductList();
            this.basket = new Basket();
            this.basket.getBasket().addEventListener('click', this.openPopup.bind(this), false);
            this.order = new Order();

            this.allProducts = [];

            document.querySelector('#content').appendChild(this.productList.getProductList());
        }


        setCount(productId, count) {
            debugger;
            if (this.allProducts[productId].count == count)
            {
                return;
            }
            else if (this.allProducts[productId].count === 0 && count > 0)
            {
                this.allProducts[productId].count = count;
                this.basket.addCount();
            }
            else if (this.allProducts[productId].count > 0 && count == 0)
            {
                this.allProducts[productId].count = 0;
                this.basket.minusCount();
            }
            else
            {
                this.allProducts[productId].count = count;
            }
        }

        addProduct(productObject) {
            this.allProducts[productObject.id] = {
                id: productObject.id,
                name: productObject.name,
                img: productObject.img,
                price: productObject.price,
                count: 0
            };

            this.productList.addProduct(new ProductCard(this.allProducts[productObject.id]));
        }

        openPopup() {
            if (this.basket.count > 0)
            {
                this.order.startOrder(this.allProducts.filter(product => product.count > 0));
            }
        }
    }

    let app = new App();
    app.addProduct({id: 1, name: 'mak', img: '/macbook-silver16.jpeg', price: 300000});
    app.addProduct({id: 2, name: 'mak', img: '/macbook-silver16.jpeg', price: 300000});

</script>
</body>
</html>